<div class="container">
    <div class="row body-box">
        <div class="main-box col-12">

            <div class="profile-header">
                <h1>About Me</h1>
            </div>
            <div class="col-12 text-zone">
                <img src="assets/images/20190617_141612.jpg" alt="profile" class="profile-pic">

                <p class="paragraph">
                    &#x9 Hello and welcome to my website! I am an aspiring web developer currently attending the
                    UT-Austin
                    Coding
                    Bootcamp.
                    These past few months have been a real journey for me both professionaly and mentally. I've never
                    really
                    had a
                    chance to
                    focus on my education before now; and its been mindblowing to find something I actually enjoy doing.
                    I
                    look
                    forward to
                    having a career in the not too distant future; so I can focus on more unrealistic goals, like being
                    able
                    to
                    consistantly
                    get a dnd group together every weekend!

                </p>
            </div>
        </div>

        <div class="row media-links">
            <div class="col-12">
                <div class="small-title">
                <p>Media Links and Resume</p>
            </div>
            <div class='link-imgs'>
                <a href="https://github.com/The-Ryan-Mobley" class="small-box" id="firstbox">
                    <img class="linkbox" id="github" src="assets/images/github.png" alt="mygithub">
                </a>
                <a href="https://www.linkedin.com/in/ryan-mobley-b843b5186/" class="small-box">
                    <img class="linkbox" id="linked-in" src="assets/images/5a22d420c9a5a7.416105621512231968826.png"
                        alt="ln">
                </a>
                <a href="https://docs.google.com/document/d/1z2_zsn50VmR_pMpnk31xw3CZBzamcT8U8RyGtp9Ezr4/edit?usp=sharing"
                    class="small-box">
                    <img class="linkbox" id="resume" src="assets/images/document-icon-36561.png" alt="resume">
                </a>
            </div>
            </div>
        </div>

    </div>