<div class="container">
    <div class="row body-box">
        <div class="main-box col-12">

            <div class="profile-header">
                <h1>About Me</h1>
            </div>
            <div class="col-12 text-zone">
                <img src="assets/images/20190617_141612.jpg" alt="profile" class="profile-pic">

                <p class="paragraph">
                    &#x9 Hello and welcome to my website! I am a Full-Stack web developer, specialising in 
                    back-end development. I've loved computers all my life. My hope is that I can give back 
                    to the world of programming; and help make sure that when the machines finally
                    do take over it'll be great instead of terrifying. I also love to create, and the freedom
                    programming has given me to just that is one of my greatest joys in life. To see a list of
                    projects i've worked on click the portfolio link above.<br><br>
                    <strong>Feel free to call or email me at:</strong><br>
                    832-712-2803<br>
                    <a href = "mailto: ryan.mobley94@gmai.com">ryan.mobley94@gmail.com</a>

                </p>
            </div>
        </div>

        <div class="row media-links">
            <div class="col-12">
                <div class="small-title">
                <p>Media Links and Resume</p>
            </div>
            <div class='link-imgs'>
                <a href="https://github.com/The-Ryan-Mobley" class="small-box" id="firstbox">
                    <img class="linkbox" id="github" src="assets/images/github.png" alt="mygithub">
                </a>
                <a href="https://www.linkedin.com/in/ryan-mobley-b843b5186/" class="small-box">
                    <img class="linkbox" id="linked-in" src="assets/images/5a22d420c9a5a7.416105621512231968826.png"
                        alt="ln">
                </a>
                <a href="https://docs.google.com/document/d/1z2_zsn50VmR_pMpnk31xw3CZBzamcT8U8RyGtp9Ezr4/edit?usp=sharing"
                    class="small-box">
                    <img class="linkbox" id="resume" src="assets/images/document-icon-36561.png" alt="resume">
                </a>
            </div>
            </div>
        </div>

    </div>